@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');


html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Fira Code', monospace;
    color: #ffffff
}

.navbar {
    padding: .8em
}

.navbar-nav li {
    padding-right: 20px;
}

.navbar-brand img {
    max-height: 56px;
    max-width: 56x;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}



/*---Media Queries --*/
@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}